<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coronavirus Stats</title>
  <link rel="stylesheet" href="../public/stylesheets/index.css">

  <script src="../public/js/app.js"></script>
  <script src="../public/js/apiclient.js"></script>

</head>
<body>
<header>COVID-19 CORONAVIRUS ARSW</header>
<section id = "content">
  <table style="width:50%" id="table">
    <thead>
    <tr>
      <th>Country</th>
      <th>Num deaths</th>
      <th>Num infected</th>
      <th>Num cured</th>
    </tr>
    </thead>

    <tbody id="Table_Content">

    </tbody>
  </table>
</section>


</body>
</html>